<div class="container">
  <br />

  <h1 class="title">Bienvenido a Burger Queen!</h1>

  <img src="../../../assets/img/hamburgueaaa.jpg" alt="logo burgen queen" width="300" height="280">
  
  <nav>
    <p>Selecciona tu usuario:</p>

    <div class="nav nav-tabs row" id="nav-tab" role="tablist" routerLinkActive="active">
      <div class="button-welcome col-6">
          <a class="btn btn-danger nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true" [routerLink]="['/waiter']">mesero</a>
      </div>

      <div class="button-welcome col-6">
          <a class="btn btn-danger nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true" [routerLink]="['/kitchen']">cocina</a>
      </div>
  
    </div>
  </nav>


</div>