<div>
    <h3>Eligue el menu:</h3>
  
    <nav  (click)="button = $event.target.value">
        <button value="Desayuno" >Desayuno</button>
        <button value="Almuerzo y/o Cena" >Almuerzo y/o Cena</button>
    </nav>
   
    <div [ngSwitch]="button">
        <div *ngSwitchDefault>Debe escoger una opcion</div>

        <div *ngSwitchCase="'Desayuno'">

            <!-- debemos relacionar la variable desde padre
                igualado a una variable en hijo
            -->
          <app-breakfast></app-breakfast>

        </div>

        <div *ngSwitchCase="'Almuerzo y/o Cena'">
            <app-lunch></app-lunch>
          </div>
    
   
    </div>

   
  

   
</div>

<app-order></app-order>
<!--
<br/>
<br/>
<app-breakfast></app-breakfast>
<app-lunch></app-lunch>
<app-order></app-order>
<br/>
<br/>
<p>Extras</p>

<app-aggregates></app-aggregates>
-->